/.idea
/.idea/*

/backend/node_modules
/backend/node_modules/*
/backend/.idea
/backend/.idea/*

/frontend/node_modules
/frontend/node_modules/*
/frontend/.idea
/frontend/.idea/*
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/expanseTracker.iml
/.idea/.gitignore
